{% extends 'base.html' %}
{% load static %}
{% block block1 %}

여섯 번째 페이지<br>

<a href="{% url 'add_comment_to_post' pk=pk %}">Add comment</a>
<br> 저의 승인 없이는 댓글이 달리지 않습니다.    
{% for comment in comments %}

    {% if comment.approved_comment or user.is_authenticated %}

    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a href="{% url 'comment_approve' pk=comment.pk %}">승인</a>
                <a href="{% url 'comment_remove' pk=comment.pk %}">제거</a>
            {% endif %}
        </div>
        <div style="border:black 1px solid ; width:500px;">
        <strong>{{ comment.author }}</strong>
        {{ comment.text|linebreaks }}
        </div>
        
    </div>
    {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
{% endfor %}
    
{% endblock %}